#canvas2 {
  border: 2px solid black;
}
button {
  padding: 0 10px;
  border: 2px solid gray;
  border-radius: 10px;
}
.matching {
  margin-bottom: 50px;
  input {
    border-bottom: 2px solid gray;
  }
}
